__pycache__
.pytest_cache
*.egg-info
.git
.idea
.vscode
.env
.env.*
.venv
venv
**/__pycache__
**/*.pyc
*.log
**/*.log
*.sqlite*
**/*.sqlite*
*.db
**/*.db
*.dump
**/*.dump
*.pem
**/*.pem
*.key
**/*.key
*.p12
**/*.p12
tmp
.coverage
